* {
    font-family: Roboto, sans-serif;  
  }
  
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-Regular-webfont.ttf');
      font-weight: normal;
      font-style: normal;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-Italic-webfont.ttf');
      font-weight: normal;
      font-style: italic;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-Bold-webfont.ttf');
      font-weight: bold;
      font-style: normal;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-BoldItalic-webfont.ttf');
      font-weight: bold;
      font-style: italic;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-Thin-webfont.ttf');
      font-weight: 200;
      font-style: normal;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-ThinItalic-webfont.ttf');
      font-weight: 200;
      font-style: italic;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-Light-webfont.ttf');
      font-weight: 100;
      font-style: normal;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-LightItalic-webfont.ttf');
      font-weight: 100;
      font-style: italic;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-Medium-webfont.ttf');
      font-weight: 300;
      font-style: normal;
  }
   
  @font-face {
      font-family: 'Roboto';
      src: url('./Roboto/Roboto-MediumItalic-webfont.ttf');
      font-weight: 300;
      font-style: italic;
  }
  